<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_history.css">
    <script src="https://kit.fontawesome.com/8087b4fcf8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    <title>History</title>
</head>
<body>
    <div class="container">
        <ul class="nav">
            <li><img src="img/azozz_ILf34 1.png" alt="" class="icon"></li>
            <li><h1 class="header">История</h1></li>
            <li><a href="javascript:history.back()" class="search">Поиск</a></li>
        </ul>
        {{#each practica}}
        <div class="content">
            <div class="history-entry">
                <p class="request">Запрос:</p>
                <p>{{this.request}}</p>
                <p class="answer">Ответ:</p> 
                <p>{{this.result}}</p>
                <p class="comment">Ресурс: {{this.source}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</body>
</html>
